body{
    font-family:Helvetica;
    background-color: lightblue;
}
img {
    width: 200px;
    }
h1{
    color:navy;
    margin-left: 20px;
    text-align: center;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer{
    padding: 20px;
    border-top: 1px solid #0a1cb7; 
    margin-top: 20px;
    
}